[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[dev-packages]

django = "*"
django-bootstrap-form = "*"
django-import-export = "*"
django-pascal-templates = "*"
django-powerbank = "*"
markdown = "*"
pathlib = "*"
sparkpost = "*"
mock = "*"
pytest = "*"
pytest-xdist = "*"
pytest-html = "*"
pytest-django = "*"
factory-boy = "*"
"psycopg2" = "*"
django-environ = "*"
"bump2version" = "*"
check-manifest = "*"
codecov = "*"
coverage = "*"
"flake8" = "*"
invoke = "*"
isort = "*"
pygments = "*"
readme-renderer = "*"
tox = "*"
sphinx = ">=1.6.5"
sphinx-rtd-theme = "*"
docutils = "==0.13.1"
sphinxcontrib-spelling = "*"
pyenchant = "*"
"drwm0dfi" = {path = ".", editable = true}
click = "*"
detox = "*"
"6844dd9" = {file = "file:///data/work/wooyek/django-opt-out/example_project"}


[packages]

django = "*"
django-bootstrap-form = "*"
django-import-export = "*"
django-pascal-templates = "*"
django-powerbank = "*"
markdown = "*"
pathlib = "*"
click = "*"
