[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django-bootstrap-form = "*"
Django = "*"
django-betterforms = "*"
django-environ = "*"
django-formtools = "*"
django-import-export = "*"
django-localflavor = "*"
django-pascal-templates = "*"
django-polymodels = "*"
django-powerbank = "*"
django-reversion = "*"
django-email-queue = "*"
"html2text" = "*"
isoweek = "*"
"jinja2-highlight" = "*"
Markdown = "*"
maya = "*"
pathlib = "*"
"psycopg2" = "*"
pycountry = "*"
pytz = "*"
raven = "*"
requests = "*"


[dev-packages]

